.pdf,
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.section_header {
  color: white;
}

.slides_section {
  padding: 10px;
  background-color: #282a35;
  margin-bottom: 30px;
}
