@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Black";
  src: url("../fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-VariableFont";
  src: url("../fonts/Inter-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSansSC-Black";
  src: url("../fonts/alegreya/AlegreyaSansSC-Black.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSans-Black";
  src: url("../fonts/alegreya/AlegreyaSans-Black.ttf") format("truetype");
}

#ListBody > li {
  cursor: pointer !important;
}

.uk-first-column {
  /* background-color: rgb(238, 241, 247); */
  padding-left: 0;
}

#ArticleBodyMain > section > h1 {
  background-color: rgb(243, 201, 91);
  margin: 30px;
  color: rgb(56, 79, 172);
  position: relative;
  width: auto;
  padding: 25px;
  margin-bottom: 0;
  /* padding-bottom: 0; */
  /* border-radius: 20px; */
  /* top: -30px; */
  /* left: -30px; */
}

.marquee {
  width: 80%;
  font-family: "Inter-Black";
  background-color: rgba(243, 201, 91, 0);
  /* color: white; */
  color: rgb(56, 79, 172);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  /* margin-left: 30px; */
  /* margin: 0; */
  padding-top: 5px;
  position: absolute;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 55s linear infinite;
  text-transform: uppercase;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

#ArticleBodyMain > section > #body > section > ul {
  list-style-type: square;
}

#ArticleBodyMain > section > #body > section > ul > li {
  font-family: "Inter-VariableFont";
  margin-left: 30px;
  color: rgb(56, 79, 172); /* bullet color */
  font-weight: bold;
  font-size: 18px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Inter-Black";
  /*padding-bottom: 0.5em;*/
  text-align: left;
  margin: 0;
}

#ArticleBodyMain > section > #body {
  padding: 25px;
  /* background-color: rgb(238, 241, 247); */
  background-color: white;
  /* border-radius: 20px; */
  /* top: -30px; */
  /* left: -30px; */
}

#topbar {
  /* position: relative; */
  /* height: 100px; */
  background-color: black;
}

#right-col {
  background-color: white;
  padding: 20px;
  border: 20px solid rgb(210, 230, 250);
}

#right-col iframe,
#right-col embed,
#right-col img,
#right-col video {
  max-width: 100%;
}

/* .entry { */
/*   max-height: 300px; */
/*   margin-bottom: 40px; */
/* } */

/* #ListBody > li { */
/*   height: 400px; */
/* } */

.uk-card-media-right {
  height: auto;
}

.uk-card-body {
  background-color: rgb(238, 241, 247);
  /* height: 250px; */
}

.uk-card-small {
  border-radius: 10px;
}

.mobile {
  display: none;
}

h3,
h4,
h5 {
  font-family: "Inter-Black";
}

a {
  font-family: "Inter-Black";
}

.uk-nav-default > li.uk-active > a {
  color: white;
}

.menu_header > h3 {
  background: #222222;
  color: rgb(238, 221, 195);
  padding: 10px;
  font-family: "AlegreyaSansSC-Black";
}

.uk-card-title {
  font-family: "AlegreyaSans-Black";
}

.cardtitle {
  font-family: "AlegreyaSans-Black";
}

hr {
  height: 4px !important;
  background-color: gray;
}

.uk-inactive > a {
  color: #363131 !important;
  pointer-events: none;
  width: 100%;
}

.uk-nav-default > li {
  position: relative;
}

.level3 > ul > li {
  position: relative;
  font-size: 1em;
  color: black;
  font-family: "Inter-VariableFont", sans-serif;
  font-weight: bold;
  list-style-type: square;
  left: 20px;
}

.uk-first-column {
  /* background-color: rgba(0, 0, 0, 0) !important; */
  /* background-color: rgb(238, 241, 247) !important; */
}

div.uk-card-small {
  background-color: white;
}

div.uk-card-body > span {
  font-family: "Inter-VariableFont", sans-serif;
  font-weight: bold;
}

div.uk-card-body > p {
  font-family: "Inter-ExtraLight", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  /* font-weight: bold; */
}

.uk-nav:not(.arduino-menu) > li > a {
  /*display: block !important;*/
}

/*.uk-nav-default:not(.arduino-menu) > .uk-active > a::after {*/
/*  content: '>';*/
/*  font-family: 'Inter-ExtraLight', sans-serif;*/
/*  /*position: absolute;*/
*/
/*  text-align: right;*/
/*  float: right;*/
/*}*/

.uk-nav-default>.uk-active>a::after {
  content: ">";
  font-family: "Inter-ExtraLight", sans-serif;
  text-align: right;
  float: right;
}

.uk-table > table {
  width: 100% !important;
}

.uk-table th {
  /* padding: 0 !important; */
  background: rgb(220, 220, 220);
  color: #363131;
}

.uk-table td {
  padding: 0 !important;
  width: 100%;
}

/*WHAAT IS THIS*/
/*.pdf,*/
/*html,*/
/*body {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/**/
.pdf,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*.pdf {*/
/*  width: 100%;*/
/*  aspect-ratio: 4 / 3;*/
/*}*/

.section_header {
  color: white;
}

.slides_section {
  padding: 10px;
  background-color: #282a35;
  margin-bottom: 30px;
}

nav {
  background: #fba99e !important;
}

.section_header {
  font-family: "Inter-Black";
}

#small-menu > li > a {
  color: white;
  font-family: "Inter-Black";
  text-align: left;
  padding-left: 0;
}

.uk-navbar-nav > li > a {
  font-family: "Inter-Black";
  color: white;
}

.uk-logo {
  background: rgb(197, 75, 59) !important;
  /*font-family: 'Inter-Black';*/
  font-family: "AlegreyaSansSC-Black";
  color: white;
}

h1 {
  font-family: "AlegreyaSansSC-Black";
}

.menu_header {
  font-family: "AlegreyaSansSC-Black";
}

.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}

#left-col {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222;
  width: 260px;
  z-index: 1;
}

#small-menu > li {
  list-style-type: none;
}

.uk-button {
  border: none;
  color: rgba(255, 255, 255, 0.7) !important;
}

.uk-button:hover {
  color: white !important;
}

.bar-wrap {
  padding: 2rem;
}

#right-col {
  margin-left: 260px;
}

.uk-navbar-container {
  z-index: 2;
}

#canvas-button {
  display: none;
}

.uk-logo {
  font-size: 1.4em;
}

@media screen and (max-width: 700px) {
  #right-col {
    margin-left: 0px;
  }

  #left-col {
    visibility: hidden;
  }

  #canvas-button {
    display: block;
  }
}

@media screen and (max-width: 494px) {
  .uk-logo {
    font-size: 1em;
  }

  .uk-navbar-nav > li > a {
    font-size: 10px;
  }
}

#left-col {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222;
  width: 260px;
  z-index: 1;
}

.bar-wrap {
  padding: 2rem;
}

#right-col {
  margin-left: 260px;
}

#offcanvas-usage {
  overflow: scroll;
}

.bar-wrap {
  overflow: scroll;
}

#left-col {
  overflow: scroll;
}

.uk-navbar-container {
  z-index: 2;
}

#canvas-button {
  display: none;
}

.uk-logo {
  font-size: 1.4em;
}

canvas {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

#agenda > ul > li {
  /*list-style: '- ';*/
  list-style-type: circle;
  margin-left: 20px;
  /* font-size: 20px; */
}

#ListBody > li > div > div {
  display: flex;
  background: rgb(238, 241, 247);
  /* justify-content: center; */
  /* align-items: center; */
}

#ListBody > li > div > #img_div {
  display: flex;
  background: black;
  /* justify-content: center; */
  /* align-items: center; */
}

#ListBody > li > div > div > img {
  /* max-height: 312px; */
  height: 100%;
  margin: auto;
}

.uk-accordion-title {
  /* background: #fba99e; */
  background: #2c3f89;
  padding: 10px;
}

.uk-accordion-title {
  font-family: "Inter-Black";
  border-radius: 25px;
  /* border: rgb(197, 75, 59) solid 2px; */
  /* color: #2c3f89; */
  color: white;
  padding-left: 20px;
}

.uk-accordion-content {
  border-radius: 15px / 50px;
  /* background: rgb(197, 75, 59); */
  padding: 20px;
}

@media screen and (max-width: 915px) {
  .uk-navbar-nav {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #left-col {
    visibility: hidden;
  }

  #right-col {
    margin-left: 0px;
    border: none;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 494px) {
  .uk-logo {
    font-size: 1em;
  }

  .uk-navbar-nav > li > a {
    font-size: 10px;
  }
}
