td.hljs-ln-numbers {
  text-align: center;
  color: #ccc;
  border-right: 1px solid #999;
  vertical-align: top;
  padding-right: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td.hljs-ln-code {
  padding-left: 10px;
}

.hljs-ln td.hljs-ln-numbers {
  padding-left: 10px;
}

code {
  padding: 15px;
}

.code-badge {
  display: flex !important;
  flex-direction: row !important;
  background: #555 !important;
  padding: 8px !important;
  position: absolute !important;
  right: 0px !important;
}

.code-badge-copy-icon {
  font-size: 1.3em !important;
}

.hide-on-load {
  display: none;
}

.code-badge-pre {
  overflow: hidden;
}

.hljs {
  overflow: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
